.header-title {
  text-align: center;
  font-weight: bold;
  font-size: x-large;
}

.airport-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.airport-list-container {
  justify-content: center;
  text-align: center;
}

.footer-container {
  justify-content: center;
  text-align: center;
}

.App-container {
  display: flex;
  flex-direction: column;
}
